certifi==2021.10.8
cffi @ file:///C:/ci_310/cffi_1642682485096/work
charset-normalizer==2.0.12
click @ file:///C:/ci/click_1646038595831/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cryptography @ file:///C:/ci/cryptography_1639414720302/work
dlib @ file:///D:/bld/dlib_1652035331399/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1646621171513/work
ecdsa==0.17.0
email-validator @ file:///tmp/build/80754af9/email-validator_1623674793554/work
enum34==1.1.10
face-recognition @ file:///home/conda/feedstock_root/build_artifacts/face_recognition_1619808233029/work
face-recognition-models @ file:///home/conda/feedstock_root/build_artifacts/face_recognition_models_1595707436534/work
Flask @ file:///opt/conda/conda-bld/flask_1648041541647/work
Flask-WTF @ file:///tmp/build/80754af9/flask-wtf_1622018667443/work
gunicorn==20.1.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
MarkupSafe @ file:///C:/ci/markupsafe_1621528502553/work
numpy @ file:///D:/bld/numpy_1651020773031/work
opentok==3.2.0
Pillow @ file:///D:/bld/pillow_1649818211002/work
pyasn1==0.4.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
python-jose==3.3.0
pytz==2022.1
requests==2.27.1
rsa==4.0
six==1.16.0
urllib3==1.26.9
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
WTForms @ file:///Users/ktietz/demo/mc3/conda-bld/wtforms_1629354749392/work
